/*se reutilizan los estilos del inventario*/

/* Estilos generales para la tabla */
/* Estilo para la tabla envuelta */

/*temporalmente va a estar en desuso*/
.tableTail {
  display: flex;
  justify-content: center; /* Centra la tabla en la pantalla */
  margin: 2rem auto; /* Centra el contenedor */
  max-width: 900px;
  width: 100%; /* este ultimo cambio no hizo nada a nivel visual, hay que buscar que*/
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}

/* Estilo general para la tabla */
.Custom {
  width: 80%; /* Controla el ancho de la tabla (puedes ajustarlo) */
  max-width: 800px; /* Limita el ancho máximo */
  border-collapse: collapse; /* Fusiona los bordes */
  background-color: white; /* Fondo blanco */
  border: 1px solid #e0e0e0; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; /* Evita que los elementos desborden */
  margin-bottom: 2rem;
  
  margin: 0 auto; /* Centra la tabla horizontalmente */
  text-align: center; /* Centra el contenido de las celdas */
}

/* Cabecera de la tabla */
.Custom th {
  background-color: #f8f9fa; /* Fondo gris claro */
  color: #333; /* Color de texto oscuro */
  font-weight: bold; /* Texto en negrita */
  padding: 12px 20px; /* Padding para mayor altura */
  text-align: left; /* Alineación a la izquierda */
}

/* Estilo para las filas de la tabla */
.Custom td {
  padding: 12px 20px; /* Padding para las filas */
  text-align: left; /* Alineación a la izquierda */
  color: #333; /* Color de texto oscuro */
}

/* Fila al pasar el mouse */
.Custom tr:hover {
  background-color: #f1f1f1 !important; /* Fondo gris claro al pasar el mouse */
}

/* Estilo para las filas impares */
.Custom tr:nth-child(odd) {
  background-color: #fafafa; /* Fondo ligeramente gris para filas impares */
}


.Divselect{
    width: 80%;
    flex: auto;
    align-items: center;
    justify-content: center;
}



/* Paginación */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}



.pagination-container button{
    width: 60px;
    margin: 5px;
    align-items: center;
    justify-content:center;
}


.pagination-container select {
  padding: 8px 12px;
  font-size: 14px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
}

.pagination-container button:disabled {
  background-color: #e0e0e0; /* Color de fondo cuando está deshabilitado */
  cursor: not-allowed;       /* Cambiar el cursor para indicar que no se puede hacer clic */
}

.pagination-container button:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
}

.pagination-container select {
  padding: 4px 8px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Estilo de la cabecera 
.table-header {
  background-color: #f8f9fa;
  text-align: left;
  font-weight: bold;
}
*/
/* Para ajustar el tamaño de la tabla si es muy grande */
@media (max-width: 1024px) {
  .table {
    width: 100%;
    table-layout: fixed;
  }

  .table th,
  .table td {
    padding: 8px 10px;
  }
}

.page-info{
    margin: 10px
}

.filtros-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62%;
  margin: 0 auto 1rem auto;
  gap: 1rem;
}


/* Fondo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Sombra de fondo */
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

/* styles.css */
.custom-button {
    background-color: #28a745; /* Color de fondo verde */
    color: white; /* Color del texto */
    width: 100%;
    margin: 20px;
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño del texto */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.custom-button:hover {
    background-color: #218838; /* Color al pasar el mouse */
}

.Cont-Butt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62%;
  margin: 0 auto 1rem auto;
  gap: 1rem;
}

.custom-modal {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    
}

/*Estilos para el historial*/

/* Nueva clase para controlar el ancho de la tabla */
.CustomWidth {
  width: 90%; /* Ajusta el ancho según lo necesites */
  max-width: 1200px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra la tabla en el contenedor */
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

/* Estilo para la tabla dentro de la nueva clase */
.CustomWidth table {
  border-collapse: collapse; /* Fusiona los bordes */
  background-color: white; /* Fondo blanco */
  border: 1px solid #e0e0e0; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para las cabeceras y celdas */
.CustomWidth th,
.CustomWidth td {
  padding: 12px 20px; /* Padding para mayor altura */
  text-align: left; /* Alineación a la izquierda */
  color: #333; /* Color de texto oscuro */
}

/* Fila al pasar el mouse */
.CustomWidth tr:hover {
  background-color: #f1f1f1 !important; /* Fondo gris claro al pasar el mouse */
}

/* Estilo para las filas impares */
.CustomWidth tr:nth-child(odd) {
  background-color: #fafafa; /* Fondo ligeramente gris para filas impares */
}
/*prueba para responsive*/

/* inventory.css */
